body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

#spreadsheet-authorization {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 999 !important;
    justify-content: center;
    align-items: center;
}

#spreadsheet-authorization > div{
    position: relative;
    max-width: 600px;
    text-align: center;
    border: 1px dashed #b9bbbe;
    border-radius: 0.5em;
    background: #ffffff;
    padding: 2em;
}

#gui {
    padding: 2em;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 999 !important;
    justify-content: center;
    align-items: center;
}

#url-output {
    text-align: center;
    margin-top: 2em;
    padding: 2em;
    border-radius: 0.5em;
    border: 1px dashed #b9bbbe;
    font-size: 12px;
    min-width: 400px;
}

#url-output #url {
    font-style: italic;
}

#footer {
    position: absolute;
    right: 1em;
    bottom: 1em;
}

#signout-button {
    position: absolute;
    right: 1em;
    top: 1em;
    border: 0;
    background: 0;
}

#signout-button:hover {
    text-decoration: underline;
}

#loading {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100vh;
    background: #f8f9fa;
    z-index: 1000 !important;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

#loading > img {
    width: 50px;
    height: 50px;
}

#error-message {
    text-align: center;
    margin-top: 2em;
    padding: 2em;
    border-radius: 0.5em;
    border: 1px dashed #b9bbbe;
    min-width: 400px;
    color: #e3342f;
}

.capsule {
    position: relative;
    display: flex;
    width: 100vw;
    max-width: 600px;
}

.capsule > div {
    flex: 1 1 auto;
}

.capsule .capsule-field {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #b9bbbe;
    border-left: 1px solid #b9bbbe;
    border-bottom: 1px solid #b9bbbe;
    padding: 1em 2em;
    background: #ffffff;
    border-radius: 0.5em 0 0 0.5em;
}

.capsule .capsule-field > * {
    border: none;
    background: transparent;
    outline: none;
    flex: 1 1 auto;
}

.capsule .capsule-button {
    color: #ffffff;
    background: #2fa360;
    border: 0;
    padding: 1em 2em;
    border-radius: 0 0.5em 0.5em 0;
    outline: none;
}

.capsule .capsule-button:hover {
    background: #5cd08d;
}

.g-button {
    color: #ffffff;
    background: #2fa360;
    border: 0;
    border-radius: 0.5em;
    padding: 1em 2em;
}

.g-button:hover {
    background: #5cd08d;
}

.button {
    color: #ffffff;
    background: #2fa360;
    border: 0;
    border-radius: 0.5em;
    padding: 0.5em 1em;
}

.button:hover {
    background: #5cd08d;
}

.bold {
    font-weight: 700;
}

.mini-load {
    width: 30px;
    margin-top: 4em;
}

.ta-left {
    text-align: left;
}

.mb-1 {
    margin-bottom: 1em !important;
}

.ts-italic {
    font-style: italic;
}

.fill {
    width: 100%;
}

img.powered-by {
    height: 15px;
}