* {
    box-sizing: border-box;
}

form#podcast-listing {
    margin-bottom: 0px;
}

table#tbl-podcasts tbody *{
    font-size: 14px;
}

table#tbl-podcasts tbody .fa-star {
    color: #ffc107 !important;
}

table#tbl-podcasts .fa {
    font-size: 18px !important;
    color: #95999c;
}

table#tbl-podcasts tr td:not(:nth-last-child(2)){
    min-width: 200px;
}

table#tbl-podcasts tr td:last-child {
    min-width: 500px;
}

#toast-notifications {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10000;
    width: 300px;
    padding: 1em;
}

.highlight {
    background-color: #abdde5;
}

.spinner {
    width: 50px;
}

.note {
    cursor: text;
}

.processing {
    background: #343A40;
    border-radius: 4px;
    position: absolute;
    right: 2em;
    bottom: 1em;
    z-index: 1000;
}

.col-left {
    width: 300px;
    float:left;
}

.col-right {
    width: calc(100% - 300px);
    float: left;
}